:root{
    --buttonsHeight: 3rem;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.basicSlider-container img {
    width: 100%;
}

.basicSlider-container{

}
.basicSlider-slidesWrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    /* height: 25rem; */
}
.basicSlider-slide{
    position: absolute;
    top:0;
    left: 105%;
    background-color: #eee;

    transition: all 1s;
}
.basicSlider-slide-number,
.basicSlider-slide-caption{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    padding: 7px;
    text-align: center;
    background-color: rgba(80, 80, 80, .8);
    color: #eee;
}

.basicSlider-slide-number{
    bottom: unset;
    right: unset;
    top: 0;
    z-index: 19;
}

.basicSlider-slide.basicSlider-activeSlide{
    position: relative;
    left: 0;
    z-index: 15;
}

.basicSlider-prevButton,
.basicSlider-nextButton{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0;
    top: calc(50% - calc(var(--buttonsHeight) / 2));
    z-index: 19;

    width: calc(var(--buttonsHeight) * 0.75);

    cursor: pointer;
    font-size: var(--buttonsHeight);
    color: #eee;
    background-color: rgba(80, 80, 80, .8);
}
.basicSlider-nextButton{
    left: unset;
    right: 0;
}

.basicSlider-prevButton > span,
.basicSlider-nextButton > span{
    display: block;
    text-align: center;
    padding-bottom: 5px;
}
