*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.basicSlider-container img {
    width: 100%;
}

.basicSlider-container{

}
.basicSlider-slidesWrapper{
    position: relative;
}
.basicSlider-slide{
    position: absolute;
    top:0;
    /* bottom: 0;
    right: 0; */
    left: 105%
}

.basicSlider-slide.activeSlide{
    left: 0;
}



