@import "../../global-vars.css";


.triangleFooter-container{

    --triangleAngle: 21deg;
    --triangleSlopePercent: 0.383;
    --leftTriangle-topOffset: calc(100% * var(--triangleSlopePercent));

    --triangleFooter-transitionDuration: var(--global-timing-transition-duration);

    --triangleFooter-side-padding: var(--global-spacing-medium);


    /* !!! --leftTriangle-topOffset !!! */
    /* --leftTriangle-topOffset: set in JS, based on above angle; */
    
    --leftTriangle-Color: var(--brand-color-lightShade1-constant);
    --leftTriangle-bgColor: #000;


    --rightTriangle-bgColor: var(--brand-color-main1);


    --centerExpandable-bgColor: #888;
    --centerExpandable-title-fontSize: 1.5em;
    --centerExpandable-topFlair-height: 1.4em;

    --centerExpandable-topOffset: calc(calc(var(--leftTriangle-topOffset) / 5) - var(--centerExpandable-title-fontSize));



    font-size: var(--global-fontSize-body-medium);
    position: relative;
}

.triangleFooter-leftTriangleAngle-overflowContainer,
.triangleFooter-rightTriangleAngle-overflowContainer,
.triangleFooter-leftTriangle-angledBlock,
.triangleFooter-rightTriangle-angledBlock{
    position: absolute;
    top: 2px;
    right:0;
    transform-origin: 100% 0%;

    transition: transform var(--triangleFooter-transitionDuration);
}

.triangleFooter-leftTriangle-container{
    position: relative;

    color: var(--leftTriangle-Color);
}

.triangleFooter-leftTriangleAngle-overflowContainer {
    width: 100%;
    height: 30px;
    /* padding-top: calc(var(--leftTriangle-topOffset) * 1.5); */
    padding-top: var(--leftTriangle-topOffset);
    overflow: hidden;
}
.triangleFooter-leftTriangle-angledBlock{
    z-index: 17;
    top:var(--leftTriangle-topOffset);
    /* top: 0; */
    transform:rotate(var(--triangleAngle));

    width: 120%;
    height: 50vh;

    background-color: var(--leftTriangle-bgColor);
}

.triangleFooter-leftTriangle-triangleContent{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 20;
    
    top: calc(var(--leftTriangle-topOffset) / 2);
    height: calc(var(--leftTriangle-topOffset) / 2);
    width: 50%;

    text-align: center;
    font-size: 1.8em;

    /* margin-bottom: var(--triangleFooter-side-padding); */
}
.triangleFooter-leftTriangle-rectangleContent{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    position: absolute;
    right: 0;
    top: var(--leftTriangle-topOffset);
    z-index: 18;

    width: 100%;
    min-height: 100px;
    background-color: var(--leftTriangle-bgColor);
    /* padding: 0 var(--triangleFooter-side-padding) var(--triangleFooter-side-padding); */
    padding: calc(var(--triangleFooter-side-padding) * 2) var(--triangleFooter-side-padding) var(--triangleFooter-side-padding);
    

}
.triangleFooter-leftTriangle-rectangleContent-pagesContainer{  
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}
.triangleFooter-leftTriangle-rectangleContent-pagesContainer span{
    display: block;

    width: 100%;
    margin-bottom: var(--triangleFooter-side-padding);

    text-align: center;
    color: var(--leftTriangle-Color);
    font-size: 1.2em;
}
.triangleFooter-leftTriangle-rectangleContent-pagesContainer span:nth-child(odd){
    padding-left: 10%;
}
.triangleFooter-leftTriangle-rectangleContent-pagesContainer span:nth-child(even){
    padding-right: 10%;
}
.triangleFooter-leftTriangle-rectangleContent-pagesContainer a{
    color: #fff;
}
.triangleFooter-leftTriangle-rectangleContent-tickerContainer{
    display: flex;
    justify-content: center;

    width: 100%;

    margin-top:var(--triangleFooter-side-padding);
}

.triangleFooter-leftTriangle-rectangleContent-tickerContainer span:first-of-type{
    /* padding: 0 calc(var(--triangleFooter-side-padding) / 4); */
    padding-right: calc(var(--triangleFooter-side-padding) / 4);
    /* font-size: 0.9em; */
}




.triangleFooter-rightTriangle-container{
    position: absolute;
    right: 0;
    top: calc(calc(var(--leftTriangle-topOffset) * 0.25) * -1);

    width: 140%;
}

.triangleFooter-rightTriangleAngle-overflowContainer{
    width: 100%;
    height: 30px;
    padding-top: calc(var(--leftTriangle-topOffset) * 1.35);
    /* padding-top: var(--leftTriangle-topOffset); */
    overflow: hidden;
}

.triangleFooter-rightTriangle-angledBlock{
    display: block;

    z-index: 14;
    transform:rotate(calc(calc(var(--triangleAngle) * 1.75) * -1));

    width: 100%;
    height: 100vh;

    background-color: var(--rightTriangle-bgColor);

}



/* Expandable Container */

.triangleFooter-centerExpandable-container{
    position: absolute;
    top: var(--centerExpandable-topOffset);
    left: 0;
    right: 0;
    z-index: 11;

    width: 100%;
    padding-bottom: calc(var(--leftTriangle-topOffset) * 0.3);
    /* padding-bottom: var(--leftTriangle-topOffset); */

    
    background-color: var(--centerExpandable-bgColor);
    transition: top var(--triangleFooter-transitionDuration);
}

.triangleFooter-centerExpandable-expandedBg{
    position: absolute;
    top: var(--centerExpandable-topOffset);
    left: 0;
    right: 0;
    z-index: 6;

    height: 200px;
    width: 100%;

    background-color: var(--rightTriangle-bgColor);
    filter: brightness(0.85);
}

.triangleFooter-centerExpandable-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.triangleFooter-centerExpandable-title {
    /* padding: var(--triangleFooter-side-padding) 0; */
    padding: calc(var(--triangleFooter-side-padding) / 2) 0;

    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}


.triangleFooter-centerExpandable-topFlair{
    --topFlair-sideRadius: calc(var(--centerExpandable-topFlair-height) * 2);
    position: absolute;
    /* 99 rather than 100 to prevent 1px gap occasionally appearing */
    bottom: 99.9%;
    
    width: 0;
    height: 0;
    left: calc(50% - var(--topFlair-sideRadius));
    right: calc(50% - var(--topFlair-sideRadius));

    cursor: pointer;

    border-left: var(--topFlair-sideRadius) solid transparent;
    border-right: var(--topFlair-sideRadius) solid transparent;
    border-bottom: var(--centerExpandable-topFlair-height) solid var(--centerExpandable-bgColor);
    filter: brightness(0.8);

    transition: border var(--triangleFooter-transitionDuration);
}
.triangleFooter-centerExpandable-topFlair > div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc(var(--topFlair-sideRadius) * 2);
    height: var(--centerExpandable-topFlair-height);
    left: calc(var(--topFlair-sideRadius) * -1);

    transform: rotate(0deg);
    transition: transform var(--triangleFooter-transitionDuration);

    text-align: center;
}
.triangleFooter-centerExpandable-topFlair > div::after {
    content: '\2191';
}
.triangleFooter-centerExpandable-topFlair.topFlairExpanded > div{
    transform: rotate(180deg);
}


/* Form */

.triangleFooter-centerExpandable-form-contactInfoWrapper,
.triangleFooter-centerExpandable-form-messageWrapper{
    overflow: hidden;
}


.triangleFooter-centerExpandable-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
}
.triangleFooter-centerExpandable-form-contactInfoWrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    width:100%;

    padding: 0 var(--triangleFooter-side-padding);
    margin-bottom: var(--triangleFooter-side-padding);
}
.triangleFooter-centerExpandable-form-messageWrapper {
    width:100%;

    padding: 0 var(--triangleFooter-side-padding);
}
.triangleFooter-centerExpandable-form-contactInfoWrapper  label,
.triangleFooter-centerExpandable-form-messageWrapper  label {
    margin-bottom: calc(var(--triangleFooter-side-padding) * 0.15);
}
.triangleFooter-centerExpandable-form-contactInfoWrapper  input,
.triangleFooter-centerExpandable-form-messageWrapper  textarea {
    width: 100%;
    font-size: 1em;
}
.triangleFooter-centerExpandable-form-contactInfoWrapper div:first-of-type{
    margin-bottom: var(--triangleFooter-side-padding);
}


@media(min-width: 370px) {
    .triangleFooter-container {
        --triangleAngle: 18deg;
    }
}
@media(min-width: 460px) {
    .triangleFooter-container {
        --triangleAngle: 15deg;
    }
}
@media(min-width: 550px) {
    .triangleFooter-container {
        --triangleAngle: 14deg;
    }
}
@media(min-width: 640px){

    .triangleFooter-container {
        --triangleAngle: 12deg;
    }

    .triangleFooter-leftTriangle-rectangleContent-pagesContainer{
        width: 66%;
    }
    .triangleFooter-leftTriangle-rectangleContent-socialContainer{
        width: 34%;
    }

    .triangleFooter-centerExpandable-container {
        padding-bottom: calc(var(--leftTriangle-topOffset) * 0.5);
    }
    .triangleFooter-centerExpandable-title {
        padding: var(--triangleFooter-side-padding) 0;
    }

    .triangleFooter-centerExpandable-form-contactInfoWrapper,
    .triangleFooter-centerExpandable-form-messageWrapper {
        width: 50%;
        margin-bottom: 0;
    }

    .triangleFooter-centerExpandable-form-messageWrapper textarea{
        height: calc(100% - 1em);
    }

    
    
}
@media(min-width: 820px) {
    .triangleFooter-container {
        --triangleAngle: 10deg;
    }
    .triangleFooter-centerExpandable-container{
        padding-bottom: calc(var(--leftTriangle-topOffset) * 0.6);
    }
}

@media(min-width: 1000px){
    .triangleFooter-container {
        --triangleAngle: 8deg;
    }
}
@media(min-width: 1200px){
    .triangleFooter-container {
        --triangleAngle: 6deg;
    }
}



