@import "../../global-vars.css";


.triangleFooter-container{
    --leftTriangle-Color: var(--brand-color-lightShade1-constant);
    --leftTriangle-BgColor: #000;

    --triangleAngle: 15deg;
    /* --leftTriangle-topOffset: set in JS, based on above angle; */

    --rightTriangle-BgColor: #830;
    --rightTriangle-Color: var(--brand-color-main);

    --centerExpandable-BgColor: #888;
    --centerExpandable-fontSize: 1.5em;

    --centerExpandable-topOffset: calc(calc(var(--leftTriangle-topOffset) / 5) - var(--centerExpandable-fontSize));

    --triangleFooter-transitionDuration: 1s;

    
    /* --centerExpandable-topOffset: calc(var(--leftTriangle-topOffset) - --centerExpandable-fontSize); */

    position: relative;

    /* padding-top:var(--leftTriangle-topOffset); */
    /* overflow: hidden; */
}

.triangleFooter-leftTriangleAngle-overflowContainer,
.triangleFooter-rightTriangleAngle-overflowContainer,
.triangleFooter-leftTriangle-angledBlock,
.triangleFooter-rightTriangle-angledBlock{
    position: absolute;
    top: 0;
    right:0;
    transform-origin: 100% 0%;
}

.triangleFooter-leftTriangle-container{
    position: relative;

    color: var(--leftTriangle-Color);
}

.triangleFooter-leftTriangleAngle-overflowContainer {
    width: 100%;
    height: 30px;
    /* padding-top: calc(var(--leftTriangle-topOffset) * 1.5); */
    padding-top: var(--leftTriangle-topOffset);
    overflow: hidden;
}
.triangleFooter-leftTriangle-angledBlock{
    z-index: 17;
    top:var(--leftTriangle-topOffset);
    /* top: 0; */
    transform:rotate(var(--triangleAngle));

    width: 120%;
    height: 50vh;

    background-color: var(--leftTriangle-BgColor);
}

.triangleFooter-leftTriangle-triangleContent{
    position: relative;
    z-index: 20;
    width: 50%;
    height: calc(var(--leftTriangle-topOffset) / 2);
    top: calc(var(--leftTriangle-topOffset) / 2);
    /* top: 0; */
    /* background-color: red; */
}
.triangleFooter-leftTriangle-rectangleContent{
    position: absolute;
    width: 100%;
    min-height: 100px;
    /* background-color: aqua; */
    background-color: var(--leftTriangle-BgColor);
    z-index: 18;
    right: 0;
    top: var(--leftTriangle-topOffset);
}






.triangleFooter-rightTriangle-container{
    position: absolute;
    right: 0;
    top: calc(calc(var(--leftTriangle-topOffset) * 0.25) * -1);

    width: 140%;
}

.triangleFooter-rightTriangleAngle-overflowContainer{
    width: 100%;
    height: 30px;
    padding-top: calc(var(--leftTriangle-topOffset) * 1.35);
    /* padding-top: var(--leftTriangle-topOffset); */
    overflow: hidden;
}

.triangleFooter-rightTriangle-angledBlock{
    display: block;

    z-index: 14;
    transform:rotate(calc(calc(var(--triangleAngle) * 1.75) * -1));

    width: 100%;
    height: 100vh;

    background-color: var(--rightTriangle-BgColor);

}

.triangleFooter-rightTriangle-content{

}



/* Expandable Container */

.triangleFooter-centerExpandable-container{
    position: absolute;
    top: var(--centerExpandable-topOffset);
    left: 0;
    right: 0;
    z-index: 11;

    /* height: 200px; */
    width: 100%;
    /* padding-bottom: 10vh; */
    padding-bottom: calc(var(--leftTriangle-topOffset) * 0.4);
    /* padding-bottom: var(--leftTriangle-topOffset); */


    
    background-color: var(--centerExpandable-BgColor);
    transition: top var(--triangleFooter-transitionDuration);
}

.triangleFooter-centerExpandable-expandedBg{
    position: absolute;
    top: var(--centerExpandable-topOffset);
    left: 0;
    right: 0;
    z-index: 6;

    height: 200px;
    width: 100%;

    background-color: var(--rightTriangle-BgColor);
    filter: brightness(0.85);
}

.triangleFooter-centerExpandable-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}

.triangleFooter-centerExpandable-title {
    padding-top: 20px;

    text-align: center;
    font-size: var(--centerExpandable-fontSize);
    cursor: pointer;
}


.triangleFooter-centerExpandable-topFlair{
    position: absolute;
    bottom: 100%;
    
    width: 0;
    height: 0;
    left: calc(50% - 7vw);
    right: calc(50% - 7vw);

    cursor: pointer;

    border-left: 7vw solid transparent;
    border-right: 7vw solid transparent;
    border-bottom: 2.7vw solid var(--centerExpandable-BgColor);
    filter: brightness(0.8);

    transition: border var(--triangleFooter-transitionDuration);
}
.triangleFooter-centerExpandable-topFlair > div{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 14vw;
    height: 2.7vw;
    left: -7vw;

    transform: rotate(0deg);
    transition: transform var(--triangleFooter-transitionDuration);

    text-align: center;
}
.triangleFooter-centerExpandable-topFlair > div::after {
    content: '\2191';
}
.triangleFooter-centerExpandable-topFlair.topFlairExpanded > div{
    transform: rotate(180deg);
}


/* Form */

.triangleFooter-centerExpandable-form {
    display: flex;
    justify-content: space-between;

    width: 100%;
    /* padding-bottom: calc(var(--leftTriangle-topOffset) / 2); */
}
.triangleFooter-centerExpandable-form-contactInfoWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width:33%;

    padding: 0 20px;
}
.triangleFooter-centerExpandable-form-messageWrapper {
    width:33%;

    padding: 0 20px;
}
.triangleFooter-centerExpandable-form-contactInfoWrapper > input,
.triangleFooter-centerExpandable-form-messageWrapper > input {
    width: 100%;
}
