@import '../base-vars.css';

.sidebarMenu-container{
    --sidebar-iconsTab-width: 15vw;
    --sidebar-hideableTab-width:calc(var(--sidebar-iconsTab-width) * 3);
    --sidebar-containerTabs-padding-vertical: var(--global-spacing-medium);
    --sidebar-containerTabs-padding-horizontal: var(--global-spacing-small);

    --sidebar-icons-minDiameter: 50px;
    --sidebar-icons-diameter: calc(var(--sidebar-iconsTab-width) - calc(var(--sidebar-containerTabs-padding-horizontal) * 2));
    --sidebar-icons-maxDiameter: 100px;


}

/* So the body content doesn't flow under the sidebar */
body {
    padding-left: var(--sidebar-iconsTab-width) !important;
}
body.sidebarMenu-expanded{
    padding-left: calc(var(--sidebar-hideableTab-width) + var(--sidebar-iconsTab-width)) !important;
}

/* This maintains a square aspect ratio on the icons in the element */
.sidebarMenu-icon-container {
    min-width: var(--sidebar-icons-minDiameter);
    width: var(--sidebar-icons-diameter);
    max-width: var(--sidebar-icons-maxDiameter);

    overflow: hidden;
}



/* ----------------------------------------------- */

.sidebarMenu-container{
    display: flex;

    position: fixed;
    z-index: 9999;
    top: 0;
    left: calc(-100% + var(--sidebar-iconsTab-width));
    transition: left 1s;

    min-width: 50px;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}
body.sidebarMenu-expanded .sidebarMenu-container {
    left: 0;
}

.sidebarMenu-hideableTab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    width: calc(100% - var(--sidebar-iconsTab-width));
    padding: var(--sidebar-containerTabs-padding-vertical) var(--sidebar-containerTabs-padding-horizontal);

    background-color: var(--darkMode-currentColor-bg);
    color: var(--darkMode-currentColor-text);
}
.sidebarMenu-hideableTab-linksWrapper{
    width: 100%;
    height: calc(90% - var(--sidebar-icons-diameter));
}
.sidebarMenu-hideableTab-linksWrapper ul{
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.sidebarMenu-hideableTab-linksWrapper a{
    display: block;

    color: var(--darkMode-currentColor-text);
    color: var(--brand-color-darkAccent1);
    text-align: center;
    font-size: var(--global-fontSize-title-small);
}

.sidebarMenu-hideableTab-socialIcons{
    min-height: var(--sidebar-icons-minDiameter);
    height: var(--sidebar-icons-diameter);
    display: flex;
    justify-content: space-around;
}


/* ---------------------------------------- */


.sidebarMenu-iconsTab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    min-width: calc(var(--sidebar-icons-minDiameter) + calc(var(--global-spacing-small) * 2));
    padding: var(--global-spacing-small);
    width: var(--sidebar-iconsTab-width);
    max-width: var(--sidebar-iconsTab-width);


    background-color: var(--brand-color-main1);
}

.sidebarMenu-iconsTab-toggleWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* height: 30%; */
    min-height: 30%;
}
.sidebarMenu-iconsTab-toggleWrapper .sidebarMenu-icon-container {
    padding-bottom: var(--sidebar-containerTabs-padding-vertical);
}

.sidebarMenu-iconsTab-toggleTabButton,
.sidebarMenu-iconsTab-darkModeButton{
    min-width: var(--sidebar-icons-minDiameter);
    width:var(--sidebar-icons-diameter);
    max-width: var(--sidebar-icons-maxDiameter);

    padding-top: 100%;
    position: relative;

    border-radius: 50%;
    background-color: var(--brand-color-lightAccent1);
    background-image: linear-gradient(to bottom, var(--brand-color-lightAccent1), var(--brand-color-darkAccent1));
}

.sidebarMenu-iconsTab-toggleTabButton{
    /* margin-bottom: var(--sidebar-containerTabs-padding-vertical); */
}
.sidebarMenu-iconsTab-darkModeButton{
        /* background-color: var(--brand-color-darkAccent1); */
        border-radius: 25%;
}
.sidebarMenu-iconsTab-logoWrapper{
    display: flex;
    justify-content: flex-end;

    /* height: 60%; */
    max-height: 60%;
    padding: 3px;

}
.sidebarMenu-iconsTab-logoWrapper img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: bottom;
}

@media(min-width: 520px){
    .sidebarMenu-container{
        /* --sidebar-iconsTab-width: 10vw; */
    }

    .sidebarMenu-iconsTab-logoWrapper{
        /* max-height: calc(100% - calc(var(--sidebar-icons-diameter) * 3)); */
    }
    .sidebarMenu-iconsTab-logoWrapper img{
        width: 100%;
    }
}